@use "@/shared/styles/states";

.wrap {
    position: relative;
    display: block;
    flex-grow: 1;
    min-width: 0;
    overflow: hidden;

    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    background: var(--color-surface);
    color: var(--tg-hint);

    cursor: text;
    transition: all var(--transition-base);

    @include states.hover(":not(:has(.input:disabled))") {
        border-color: var(--tg-hint);
    }

    &:has(.input:disabled) {
        @include states.disabled;

        .input {
            cursor: inherit;
        }
    }

    &:focus-within {
        border-color: var(--color-accent);
        color: var(--color-accent);
    }

    .clear {
        position: absolute;
        top: 50%;
        right: var(--space-4);
        color: var(--tg-hint);

        transform: translateY(-50%);

        @include states.hover(":not(:disabled)") {
            color: var(--tg-text);
        }

        &:active:not(:disabled) {
            transform: translateY(-50%) scale(0.85);
        }

        svg {
            width: 18px;
            height: 18px;
        }
    }
}

.icon {
    position: absolute;
    top: 50%;
    left: var(--space-4);
    width: 20px;
    height: 20px;

    pointer-events: none;
    transform: translateY(-50%);
}

.input {
    width: 100%;
    height: calc(var(--size-control-height) - 2px);
    padding: var(--space-4);
    padding-top: calc(var(--space-4) + 10px);
    padding-right: 48px;
    padding-bottom: calc(var(--space-4) / 2);
    padding-left: calc(var(--space-4) + 20px + var(--space-3));
    border: none;
    outline: none;
    background: transparent;
    color: var(--tg-text);
    font: var(--font-ui-md);

    transition: all var(--transition-base);
    appearance: none;

    &::placeholder {
        color: transparent;
        user-select: none;
    }

    &::-webkit-search-cancel-button {
        appearance: none;
    }

    &:not(:placeholder-shown) {
        background: color-mix(in srgb, var(--color-surface) 95%, black);
    }

    @include states.hover(":not(:placeholder-shown)") {
        background: color-mix(in srgb, var(--color-surface) 90%, black);
    }

    &:focus,
    &:not(:placeholder-shown):focus {
        background: var(--color-surface);
    }

    &:placeholder-shown ~ .label {
        top: 50%;
        color: var(--tg-hint);
        font-size: var(--font-size-md);
        transform: translateY(-50%);
    }

    &:not(:placeholder-shown) ~ .label {
        top: var(--space-1);
        color: var(--tg-hint);
        font-size: var(--font-size-xs);
        transform: none;
    }

    &:focus ~ .label {
        top: var(--space-1);
        color: var(--color-accent);
        font-size: var(--font-size-xs);
        transform: none;
    }
}

.label {
    position: absolute;
    top: var(--space-1);
    left: calc(var(--space-4) + 20px + var(--space-3));
    color: var(--tg-hint);
    font: var(--font-ui-md);
    white-space: nowrap;
    transition: all var(--transition-base);
    pointer-events: none;
}
