.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font: var(--font-header-xl);
        font-weight: var(--font-weight-bold);
    }

    .actions {
        display: flex;
        align-items: center;
        gap: var(--space-2);
    }
}
