.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .title {
        font: var(--font-header-xl);
        font-weight: var(--font-weight-bold);
    }

    .menu {
        color: var(--color-active);
    }
}
