.header {
    flex-direction: row;
    align-items: center;

    .title {
        font: var(--font-header-lg);
        font-weight: var(--font-weight-bold);
    }

    .subtitle {
        color: var(--tg-hint);
        font: var(--font-sm);
        font-style: italic;
    }
}

.placeholder {
    color: var(--tg-hint);
    font: var(--font-md);
    text-align: center;
}
