@use "@/shared/styles/states";

.tag {
    --tag-color: var(--color-accent);
    --tag-bg: color-mix(in srgb, var(--color-accent) 8%, transparent);
    --tag-border: color-mix(in srgb, var(--color-accent) 20%, transparent);

    display: inline-block;
    min-width: var(--size-tag-min-width);
    max-width: 100%;
    padding: var(--space-1) var(--space-2);
    overflow: hidden;

    border: 1px solid var(--tag-border);
    border-radius: var(--radius-lg);
    background: var(--tag-bg);

    color: var(--tag-color);
    font: var(--font-ui-xs);
    text-align: center;
    white-space: nowrap;
    transition: var(--transition-base);
    text-overflow: ellipsis;

    &--isActive {
        border-color: var(--color-active);
        background: var(--color-active);
        color: var(--color-active-text);
    }

    &--interactive {
        cursor: pointer;

        @include states.hover {
            border-color: var(--color-accent);
        }

        &:focus-visible {
            border-color: var(--color-accent);
        }

        &.tag--isActive {
            @include states.hover {
                border-color: var(--color-active-hover);
                background: var(--color-active-hover);
            }
        }
    }
}