.wrap {
    display: flex;
    border-bottom: 1px solid var(--color-border);
}

.tab {
    flex: 1;
    margin-bottom: -1px;
    padding: var(--space-3);

    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: none;

    color: var(--tg-hint);
    font: var(--font-sm);
    font-weight: var(--font-weight-bold);

    cursor: pointer;
    transition: var(--transition-base);
    transition-property: color, border-color, background;

    &:hover {
        color: var(--tg-text);
    }

    &:focus-visible {
        background: var(--color-hover-bg);
    }

    &Active,
    &Active:hover {
        border-bottom-color: var(--color-active);
        color: var(--color-active);
    }
}
