.page {
    min-height: 100%;
    background: var(--tg-bg);
    font-family: var(--font-family-main);

    .tabs {
        position: sticky;
        top: 0;
        z-index: var(--z-above);
        margin: 0 calc(-1 * var(--space-5));
        padding: 0 var(--space-5);
        background: var(--tg-bg);
    }
}
