.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
    padding-bottom: var(--space-4);

    border-top: 2px solid var(--tg-hint);
}

.legend {
    margin-bottom: var(--space-3);
    padding-right: var(--space-3);
    font: var(--font-lg);
    font-weight: 600;
}